
.hidden {
    display: none !important;
}



.rb-commentting header h1 {
  line-height: 30px
}

.rb-commentting .media-list > .media {
  margin-top: -1px;
  padding: 15px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee
}
.rb-commentting .media-list .media-list .media {
  padding: 15px 0 0;
  border: 0
}
.rb-commentting .media-list .media-list {
  margin: 10px -10px 0;
  padding: 2px 20px;
}
.rb-commentting .media-list .media-list:empty {
  margin: 0
}
.media-list .ico-replay {
  margin-top: -3px;
  margin-right: 3px
}
.media-list .ico-replay::before {
  display: inline-block;
  width: 13px;
  height: 10px;
  margin: 4px 4px 0 1px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAABkCAMAAACvvNBNAAAAclBMVEVMaXEtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUtlvUAAAAtlvXBtxldAAAAJHRSTlMAlgoDD071ePxpN7FZvfDjLRxb/gEGpEL5hxUkyNvqeXyAwuvQ8jQMAAAAqElEQVR42u2R1w7CMAxFu/feu4ze//9FWlRaWlwkBC9IPi+2cpzYSYTPUZwjk7rQaZNk8ENalfAC2pgoctqoRhzRxtKWERxlY+oO4pz2cKUnU7Ww5TkP/Sl/IDVo1srAW04QZBttRfcV0dW7aWHeEx2a9XJHQx1DFI9hz2kqz4tp88rS5Op4KDdr62hAlpDPI13gpkf/elYEhmGYXzAMrL5XO94phvlnbrKzELi3OthbAAAAAElFTkSuQmCC) 0 -30px no-repeat;
  background-size: 13px 50px;
  vertical-align: top;
  content: '';
}

.rb-commentting .btn-secondary.active {
  color: red
}

/* notify */
#commentting-container, [data-role=comment-container], [data-role=moreBtn-container] {
  position: relative;
}

#comment-notify {
    visibility: hidden;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 30px;
    top: auto
}

#comment-notify .comment-notify-msg {
    width: 80%;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding:12px 6px;
    font-size: 14px;
}

#comment-notify.active {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.1s;
    animation: fadein 0.5s, fadeout 0.5s 1.1s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* notify */

/* attach trigger */
#commentting-container .comment-attach {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    padding: 8px 0;
    cursor: pointer;
}

#commentting-container span.comment-attach input[type='file'] {
    cursor: pointer;
    position: absolute;
    display: block;
    top: 0;
    right: -9px;
    margin: 0;
    padding: 0;
    opacity: 0;
    font-size: 0;
    width: 180%;
    height: 100%;
}

/* emoticon */
#commentting-container .emoticon-wrapper {
    display: none;
    overflow: hidden;
    padding: 15px 5px;
}
#commentting-container .emoticon-wrapper ul {
    padding: 0;
    margin: 0;
    width: 100%;
}
#commentting-container .emoticon-wrapper li {
    display: inline-block;
    float: left;
    text-align: center;
    width: 12.5%;
    cursor: pointer;
}
#commentting-container .emoticon-wrapper li img {
    width: 25px;
    height: 25px;
    border-radius: 100%;
}

[data-role|=oneline-input-wrapper], [data-role|=comment-modify-btn-wrapper], [data-role|=oneline-modify-btn-wrapper], [data-role|=menu-container]  {
    display: none;
}


/* Comment Intro */

/* Comment Input */


.rb-comments-write .card {
  display: none;
}
.rb-comments-write .active .card {
  display: block;
}
.rb-comments-write .active .comment-input-tmp {
  display: none
}

.rb-comments-write .card-header {
  font-size: 1rem
}
.rb-comments-write .card-footer {
  height: inherit;
  padding: .35rem .35rem .25rem .5rem;
  line-height: 2rem
}
.rb-comments-write .card textarea {
  border: none
}

/* loader */
#comment-spinner-wrap {
    position: absolute;
    left: 50%;
}
.comment-top5p {
    top: 5%;
}
.comment-bottom5p {
    bottom: 5%;
}
