/* link-preview */
#link-preview {padding: 10px;}
#link-preview-indicator {display: none;position: absolute;top:8px;right:5px;}

.link-preview-wrapper {position: relative;}
.link-preview-wrapper .preview-box {display: none; border-top: 1px dashed #e6e6e6;padding: 10px;}
.link-preview-wrapper .preview-box .media-left {padding-left: 0;}
.preview{
 padding: 5px;
 width: 100%;
 color: black;
 font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
 font-size: 12px;
 padding-bottom: 8px;
 padding-top: 8px;
 display: none;
 border: 1px solid #b3b3b3;
 border-top: 0px;
 border-bottom: 1px solid #e6e6e6;
 float: left;
}
.previewImages, .previewImage{
 width: 65px;
 margin-right: 12px;
 float: left;
 color: transparent;
}
.previewButtons{
 display: none;
 margin-bottom: 39px;
 margin-top: 12px;
}
.previewContent{
 font-size: 11px;
 width: 355px;
 float: left;
}
.previewTitle{
 font-weight: bold;
 font-size: 14px;
 margin: 0 auto 2px auto;
}
.previewTitle a{
 margin: 0 auto 0 auto;
}
.previewUrl{
 color: #666;
 font-size: 11px;
 margin: 0 auto 9px auto;
}
.previewDescription{
 margin: 0 auto 8px auto;
}
.previewTitle span, .previewDescription span{
 cursor: pointer;
 word-break: break-word;
}
